:root {
    --color-bg: #121212;
    --color-sidebar: #1a1a1a;
    --color-modal-bg: #242424;
    --color-border: #2c2c2c;
    --color-primary-text: #e0e0e0;
    --color-secondary-text: #a0a0a0;
    --color-input-bg: #1e1e1e;
    --color-icon: #e0e0e0;
    --color-hover: #313131;
    --color-primary-button: #bb86fc;
    --color-text-bg: #bb86fc;
    --color-white: #fff;
    --color-red: #ff0000;

    .Toastify__toast--error {
        background-color: var(--color-modal-bg) !important;
        color: var(--color-primary-text) !important;
    }
}
