.messageWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* default: bot messages on left */
}

.userWrapper {
    align-items: flex-end; /* user messages on right */
}

.editButton {
    margin-top: 8px;
    background: none;
    color: var(--color-icon);
    border: none;
    cursor: pointer;
    padding: 4px;
    opacity: 0;
    transition: opacity 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Show pen only on hover of whole wrapper */
.messageWrapper:hover .editButton {
    opacity: 1;
}

.chatBubble {
    padding: 0.75rem 1rem;
    border-radius: 20px;
    max-width: 60%;
    white-space: pre-wrap;
    word-break: break-word;
}

.user {
    align-self: flex-end;
    background-color: var(--color-text-bg);
    color: var(--color-primary-text);
}

.bot {
    align-self: flex-start;
    color: var(--color-primary-text);
}

.editingUserWrapper {
    width: 100%;
}
.editingContainer {
    width: 50%;
    border-radius: 20px;
    background-color: var(--color-input-bg);
}

.editTextarea {
    resize: none;
    max-height: 250px;
    line-height: 1.4;
    width: 100%;
    flex-grow: 1;
    padding: 16px 16px 8px 16px;
    border-radius: 28px;
    background-color: var(--color-input-bg);
    border: 1px solid var(--color-input-bg);
    color: var(--color-primary-text);
    overflow-y: auto;
}
.editTextarea:focus {
    border: 1px solid transparent;
    outline: none;
}

.editButtons {
    display: flex;
    justify-content: end;
    gap: 20px;
    padding: 16px;
}

.cancelButton {
    cursor: pointer;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    border: none;
}

.saveButton {
    cursor: pointer;
    border-radius: 20px;
    background: var(--color-primary-button);
    color: var(--color-primary-text);
    padding: 0.5rem 1rem;
    border: none;
}
