.sidebar {
  	display: flex;
  	flex-direction: column;
    position: fixed;
    left: -250px;
    height: 100vh;
    width: 250px;
    background-color: var(--color-sidebar);
    color: var(--color-primary-text);
    transition: left 0.3s ease;
}
.sidebar.open {
    left: 0;
}

.menuButton {
    position: fixed;
    color: var(--color-icon);
    top: 16px; 
    left: 16px;
    background: none;
    border: none;
    cursor: pointer; 
}

.newChatIconContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 30px;
}

.chatsTitleContainer {
    margin-top: 16px;
    margin-left: 20px;
}

.chatTitle {
    margin: 0;
}