.sidebar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 100vh;
    width: 60px;
    background-color: var(--color-sidebar);
    color: var(--color-primary-text);
    transition: width 0.3s ease;
    overflow: hidden;
}
.sidebar.open {
    width: 250px;
}

.menuButtonContainer {
    width: 100%;
    height: 30px;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuButton {
    background: none;
    border: none;
    color: var(--color-icon);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.newChatIconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 0.3s ease, justify-content 0.3s ease;
}
.newChatIconContainer.closed {
    width: 100%;
    justify-content: center;
}
.newChatIconContainer.open {
    width: 30px;
    justify-content: flex-start;
}

.newChatTitleWrapper {
    overflow: hidden;
    display: flex;
    align-items: center;
    transition: max-width 0.3s ease, opacity 0.3s ease, margin-left 0.3s ease;
    max-width: 0;
    opacity: 0;
    margin-left: 0;
}

.visible {
    max-width: 200px;
    opacity: 1;
}
.hidden {
    max-width: 0;
    opacity: 0;
    margin-left: 0;
}

.chatsTitleContainer {
    margin-top: 16px;
    margin-left: 20px;
    height: 27.5px;
}
.chatTitle {
    margin: 0;
}
